.esriPopup .contentPane
    overflow hidden
.popup-widget
    height 100%
    position absolute
    top 50px
    background-color white
    z-index 99
    width 420px
    right - @width
    box-shadow inset 0 1px 10px rgba(0, 0, 0, 0.1)
    .padder
        padding 10px
        div[data-dojo-attach-point='chartDiv']
            display none
    .btn-group
        margin-bottom 10px
    .loader
        z-index 100
        position absolute
        width 32px
        height 32px
        background url('../resources/images/loader.gif')
        top 174px
        left 190px
        display none
    div[data-dojo-attach-point='calculationsDiv']
        margin-top 10px
    .slider
        width 170px
    .calc-label
        padding 10px
        font-weight bold
        text-align right
        width 200px
