.solar-overlay-controls form
    margin 0
.legend
    img
        width 104px
        height 182px
    td
        position relative
    .upper
        position absolute
        top 0
    .lower
        position absolute
        bottom 0
    td:last-child
        width 50px
    table
        width 158px
