.solar-overlay-controls {
}
.solar-overlay-controls form {
    margin: 0;
}
.legend img {
    width: 104px;
    height: 182px;
}
.legend td {
    position: relative;
}
.legend .upper {
    position: absolute;
    top: 0;
}
.legend .lower {
    position: absolute;
    bottom: 0;
}
.legend td:last-child {
    width: 50px;
}
.legend table {
    width: 158px;
}