<div>
    <div class="padder">
        <button class="btn btn-default" type="button" data-dojo-attach-event="click:hide">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
        <div class="btn-group pull-right" data-toggle="buttons">
            <label class='btn btn-default active' data-dojo-attach-point='durationBtn'>
                <input type='radio'/> Duration
            </label>
            <label class='btn btn-default' data-dojo-attach-point='intensityBtn'>
                <input type='radio'/> Intensity
            </label>
            <label class='btn btn-default' data-dojo-attach-point="calculationsBtn">
                <input type='radio'/> Calculations
            </label>
        </div>
        <span class="loader" data-dojo-attach-point='loader'></span>
        <div data-dojo-attach-point="chartDiv"></div>
        <div data-dojo-attach-point="calculationsDiv">
            <div class="form-horizontal">
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Total Selected Area</label>
                    <div class='col-sm-6'>
                        <input readonly class='form-control' data-dojo-attach-point="totalAreaTxt">
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Usable Roof Percentage</label>
                    <div class='col-sm-6'>
                        <input type="text" class="slider" data-slider-min="0" data-slider-max="100"
                            data-slider-value="100" data-dojo-attach-point="usableSlider">
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Usable Roof Area</label>
                    <div class='col-sm-6'>
                        <input readonly class='form-control' data-dojo-attach-point="usableRoofAreaTxt">
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Potential System Size</label>
                    <div class='col-sm-6'>
                        <input readonly class='form-control' data-dojo-attach-point="potentialSysSizeTxt">
                        <span class="help-block">
                            <a href='#' data-toggle='tooltip'
                                title='Generic solar panel with an efficiency of 18% outputs 16.7 W per square foot'
                                class="tooltip-a">Assuming 18% efficiency</a>
                        </span>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Estimated Electricity Generated</label>
                    <div class='col-sm-6'>
                        <input readonly class='form-control' data-dojo-attach-point="estElecTxt">
                        <span class="help-block">
                            <a href='#' data-toggle='tooltip'
                                title='The average Utah home consumes approximately 800 kWh of electricity per month, or 9,600 kWh/year'
                                class="tooltip-a">More Info</a>
                        </span>
                    </div>
                </div>
                <div class='form-group'>
                    <label class='col-sm-6 control-label'>Estimated CO2 Savings</label>
                        <div class='col-sm-6'>
                        <input readonly class='form-control' data-dojo-attach-point="estCO2Txt">
                        <span class="help-block">
                            <a href='#' data-toggle='tooltip'
                                title='Rocky Mountain Power estimates 1.21 lbs of C02 per kilowatt hour according to the Green Power Purchase Program'
                                class="tooltip-a">How is this calculated?</a>
                        </span>
                    </div>
                </div>
            </div>
            <p>Calculate your Solar Cost Savings by using the National Renewable Energy Lab's
            <a href="http://pvwatts.nrel.gov/">PW Watts</a> tool.</p>
        </div>
    </div>
</div>
